<% @posts.each do |post| %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 center-content"> <!-- U odnosu na kontenjer -->
			<div class="custom-fit">
				<h3 class="post_title">
					<%= post.title %>
				</h3>

				<% if post.category_name == "slike" %>
					<%= image_tag(post.content, class: 'img-responsive') %>
				<% else %>
					<p class="status"> <%= post.content %> </p>
				<% end %>

				
			</div>
		</div>
	</div>
	<hr>
<% end %>