/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
 }

 /*The most straightforward approach is to override Bootstrap’s styles using CSS. 
 This can be accomplished by writing your own styles for the classes used in Bootstrap.
 For the overrides to be successful, remember to add your code after Bootstrap’s have been declared.*/
 body {
 	padding: 60px;
 }
 .btn-custom-search {
 	margin-left: 10px;
 	margin-top: 9px;
 }
 .a-custom-brand {
 	font: 16px Tahoma;
 }
 div[id*="likes"] {
 	display: inline-block;
 	float: right;
 	padding-top: 2px;
 	padding-right: 10px;
 }
 .center-content {
 	text-align: center;
 }
 .custom-fit {
 	display: inline-block;
 	text-align: left;
 }
div[id*="likes"]:last-child {
 	font: 16px Tahoma;
 }
 .vote_up {
 	padding: 6px 10px 6px 10px;
 }
 .vote_up, .vote_down {
 	font-weight: bold;
 }
 .status {
 	text-align: justify;
 }
 .custom-alert {
 	display: inline-block;
 	float: right;
 	margin-top: 0;
 }
 .custom-signed {
 	text-decoration: underline;
 	color: blue;
 }